[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A  MATLAB library for sparse representation problems
[access "refs/*"]
	owner = group user/Muhammad Naveed Tabassum (mntabassm)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Muhammad Naveed Tabassum (mntabassm)
	label-Verified = -1..+1 group user/Muhammad Naveed Tabassum (mntabassm)
	push = group user/Muhammad Naveed Tabassum (mntabassm)
	read = group user/Muhammad Naveed Tabassum (mntabassm)
	rebase = group user/Muhammad Naveed Tabassum (mntabassm)
	removeReviewer = group user/Muhammad Naveed Tabassum (mntabassm)
	submit = group user/Muhammad Naveed Tabassum (mntabassm)
[access "refs/heads/*"]
	create = group user/Muhammad Naveed Tabassum (mntabassm)
	push = +force group user/Muhammad Naveed Tabassum (mntabassm)
	pushMerge = group user/Muhammad Naveed Tabassum (mntabassm)
	read = group user/Muhammad Naveed Tabassum (mntabassm)
[access "refs/tags/*"]
	push = group user/Muhammad Naveed Tabassum (mntabassm)
	push = +force group user/Muhammad Naveed Tabassum (mntabassm)
